h1{
    color: crimson;
    
}

body{
    background-color: cornflowerblue;
}

nav{
    float: left;
    background: white;
    padding: 5px;
    height: 500px;
    border-radius: 15px;
    margin-right: 0;
    box-shadow: 4px 4px 4px black;
}
a {
    background-color: lightgray;
    text-decoration: none;
    padding: 20px;
    display: block;
    border-radius: 10px;
    margin: 30px;
    text-align: center;
}  